@charset "utf-8";
/*
	Author		CrystalCommerce.com // Ross Dallaire

	Colors
*/

/* RESET */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
}

strong {
	font-weight: bold;
}

html,
body {
	margin: 2px;
	padding: 2px ;
	height:100%;
}
/* /END RESET */
body {
	background: #fffeeb;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

p {
	line-height: 80%;
	margin: 2px 2px 10px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Arial, Helvetica, sans-serif;
  color: #ff7b00;
}

h1 {
	font-size: 33px;
	margin: 0 0 15px;
	font-weight: bold;
  letter-spacing: .3rem;
}

h2 {
	font-size: 19px;
	margin: 0 0 12px;
	font-weight: bold;
}

h3 {
	font-size: 16px;
	margin: 0 0 12px;
	font-weight: lighter;
}

h4 {
	font-size: 11px;
	margin: 0 0 12px;
	font-weight: bolder;
}

h5 {
	font-size: 11px;
	margin: 0 0 12px;
	font-style: italic;
  color: #290c00;
}

h6 {
	font-size: 8px;
	margin: 0 0 12px;
	font-weight: lighter;
color: rgba(41, 12, 0, 0.8);
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {}

a img {
	border: none;
	outline: none;
  width: auto;
}

a {
	color: #290c00;
	outline: none;
	text-decoration: none;
}

a:hover {
	color: #280c00;
}

/* remove dotted lines on some links in FF browser */

a,
a:active,
a:visited,
a img {
	outline: none;
}

.shack {
  display: grid;
  justify-content: center;
  align-content: flex-start;
  grid-template-columns: auto auto auto auto; /*Make the grid smaller than the container*/
  gap: 10px;
  background-color: rgba(255, 204, 0, 0.88);
  padding: 10px;
}

.shack > div {
  background-color: rgba(255, 204, 0, 0.11);
  padding: 20px 0;
}

.crown {
  grid-column-start: 1;
  grid-column-end: 3;
}

.eye {
  grid-column-start: 3;
  grid-column-end: 5;
  text-align: left;
}

.throat {
  grid-column-start: 1;
  grid-column-end: 5;
  text-align: center;
}

.heart {
  grid-column-start: 1;
  grid-column-end: 3;
}

.solarplex {
  grid-column-start: 3;
  grid-column-end: 5;
}

.sacral {
  grid-column-start: 1;
  grid-column-end: 5;
}

.root {
  grid-column-start: 1;
  grid-column-end: 5;
}

.navbar {
  overflow: hidden;
  font-family: monospace;
  align-items: center;
  align-content: center;
  text-align: center;
  padding-bottom: 22px;
}

.navbar a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: RGBA(239, 85, 2, .7);
  padding: 14px 16px;
  font-family: inherit;
  margin: 0;
  border-radius: 40px;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: LightGray;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  padding: 18px 20px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: LightGray;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/* CLEARFIX */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}
