@charset "utf-8";

/* GREAT RESET */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
}

html,
body {
	margin: 2px;
	padding: 2px ;
	height:100%;
}
/* KYLE STYLE SMILES WHILE PILES PILE MILES */

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

p {
	line-height: 80%;
	margin: 2px 2px 10px;
  color: #290c00;
}

.shack h1, h2, h3, h4, h5, h6 {
	font-family: Arial, Helvetica, sans-serif;
  color: #ff7b00;
  margin: 2px;
}

h1 {
	font-size: 33px;
	margin: 0 0 4px;
	font-weight: bold;
  letter-spacing: .3rem;
  border: 1px dotted;
  padding: 2px;
  box-shadow: 2px 7px rgba(rgba(255, 204, 0, 0.5););
}

h2 {
	font-size: 19px;
	margin: 0 0 12px;
	font-weight: bold;
  color: #ff9900;
}

h3 {
	font-size: 16px;
	margin: 0 0 12px;
	font-weight: lighter;
}

h4 {
	font-size: 11px;
	margin: 0 0 12px;
	font-weight: bolder;
}

h5 {
	font-size: 11px;
	margin: 0 0 12px;
	font-style: italic;
  color: #290c00;
}

h6 {
	font-size: 8px;
	margin: 0 0 12px;
	font-weight: lighter;
  color: rgba(41, 12, 0, 0.8);
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {}

a img {
	border: none;
	outline: none;
  box-shadow:
  max-width: 100%;
  height: auto;
}

a {
	color: #290c00;
	outline: none;
	text-decoration: none;
}

a:hover {
	color: #280c00;
}

/* remove dotted lines on some links in FF browser */

a,
a:active,
a:visited,
a img {
	outline: none;
  max-width: 100%;
  height: auto;
}

.shack {
  display: grid;
  align-content: center;
  grid-template-columns: auto auto auto auto; /*Make the grid smaller than the container*/
  gap: 7px;
  padding: 10px;
}

.shack > div {
  background-color: #fffeeb;
  padding: 20px 0;
}

.crown {
  grid-column-start: 1;
  grid-column-end: 3;
  align-content: center;
  text-align: right;
}

.eye {
  grid-column-start: 3;
}

.throat {
  grid-column-start: 1;
  grid-column-end: 5;
  display: grid;
  grid-gap: 7px;
  padding: 7px;
  border: 7px ridge #fffeeb;
  background-color: #ff9900;
}

.heart {
  grid-column-start: 1;
  grid-column-end: 3;
}

.solar {
  grid-column-start: 3;
  grid-column-end: 5;
  text-align: center;
}

.sacral {
  grid-column-start: 1;
  grid-column-end: 5;
}

.root {
  grid-column-start: 1;
  grid-column-end: 5;
}

.navbar {
  background-color: #ff9900;
}

.nav-link {
  color: #ff7b00;
  width: 97%;
  -webkit-transition: width .35s ease-in-out;
  transition: width .35s ease-in-out;
}

.nav-link: hover {
  color: #ff9900;
  width: auto;
}

.nav-link: active {

}

.van {
  font-size: 2em;
  margin: 0 0 12px;
  font-weight: bold;
  letter-spacing: .3rem;
  border: 1px dotted;
  padding: 4px;
  box-shadow: 5px 10px #ffcc00;
}

.polyline {
  fill: white;
  stroke: #ffcc00;
  stroke-width: 4;
  display: inline-grid;
}

/* FIX FIX CLEAR */
/* FIX FIX CLEAR */
/* TRAH-LAH-LAH */
/* TRAH-LAH-LAH */

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}
