/* define variables for the primary colors */
$yocwheel: #ff9900;
$heatwave: #ff7b00;
$sunglow: #ffcc00;
$darksienna: #290c00;
$ivory: #fffeeb;

.sassy {
  box-shadow: 0 3px 7px 0 rgba(7, 5, 3, 0.2), 0 5px 19px 0 rgba(7, 4, 2, 0.19);
  &:hover {
    box-shadow: 0 5px 9px 0 rgba(7, 5, 3, 0.2), 0 7px 21px 0 rgba(7, 4, 2, 0.19);
  }
}
