body {
  background-color: LightYellow;
  text-align: center;
  align-items: center;
  max-width: 77%;
  padding-left: 7%;
}

h1 {
  color: Gray;
  border: 4px solid Tomato;
  font-family: monospace;
}

h3 {
  color: Gray;
  font-family: monospace;
}

h6 {
  color: Orange;
  border-bottom: 1.5px dotted tan
}

content {
  max-width: 44%;
  margin: auto;
}

img {
  max-width: 200px;
}

footer {
  max-width: 777px;
  margin: auto;
  padding-top: 77px;
  color: #BA684A;
}

a:link, a:visited {
  background-color: white;
  color: Tomato;
  border: 2px solid LightGray;
  padding: 10px 90px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: sans-serif;
}

a:hover, a:active {
  background-color: LightGray;
  color: white;
}

p {
  color: #29160F;
}

ul {
  list-style-type: none;
  background: Tomato;
  padding: 7px;
  max-width: inherit;
}

li {
  background: LightYellow
}
