body {
  background-color: F1F1F1;
  color: 676767
}
header {
  display: block;
  color: 454545
}
h1 {
  color: AAAABB;
  font-family: monospace;
  align-content: center;
  font-size:14
}
h2 {
  color: AAAABB;
  font-family: monospace;
  align-content: center;
  font-size:12
}
p {
  color: DAADAA;
  font-family: monospace;
  align-content: center;
  font-size:10
}

/*
a. H1 Heading Style (color, font family, center alignment, and font size).
b. H2 Heading Style (color, font family, center alignment, and font size).
c. Paragraph Style (color, font-family, and font-size, margin).
d. Create at least one ID Attribute.
e. Create at least one CLASS Attribute.
f. Body (Add a background color and text color that is easy to read together. Set the font family to Verdana with fallbacks to Arial and sans-serif).
g. Page Header and Footer (Create styles for both).
h. Wrapper or Content Container (Create a Wrapper or Content Container that keeps your content from bumping into the sizes of the web browser).
i. Navigation (Create a style to Center your navigation). Your navigation should include links to all three pages of your fan website.
*/
